{% extends 'base.html' %}
{% block content %}
<form action="{{url_for('contribute')}}" method="POST">
    <div class="form-row">
        <label for="title">Title:</label>
        <input name="title" type="text" required>
    </div>
    <div class="form-row">
        <label for="content">Content:</label>
        <textarea name="content" type="text" required></textarea>
    </div>
    <div class="form-row">
        <input type="submit" value="Send"/>
    </div>
</form>
<br/>
{% endblock content %}
