{% extends 'base.html' %} {% block content %}
<div class="existing-articles">
    {% for article in articles %}
        <div class="article-container">
            <div class="article-head">
                <a href="{{ url_for('article', file_name=article) }}" class="title">{{ article.blogs[0]['title'] }}</a>
                <div class="author">{{ article['full_name'] }}</div>
            </div>
            <div class="article-content fade-effect">
                <div class="json-value">{{article.blogs[0]['content'][:100]}}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}