{% extends 'base.html' %} {% block content %}
<form action="{{url_for('signup')}}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input name="username" type="text" value="">
    </div>
    <div>
        <label for="first_name">First_name:</label>
        <input name="first_name" type="text" value="">
    </div>
    <div>
        <label for="last_name">Last_name:</label>
        <input name="last_name" type="text" value="">
    </div>
    <div>
        <label for="email">Email:</label>
        <input name="email" type="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input name="password" type="password" required>
    </div>
    <div>
        <input type="submit" value="Sign up" class="button">
    </div>
</form>
<br/>
<small>
    Already have an account? <a href="{{url_for('login')}}">Log In</a>
</small>
{% endblock content %}